[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Sliced Avocado on Brown Wooden Board
Type=Link
URL=https://images.pexels.com/photos/1166419/pexels-photo-1166419.jpeg?cs=srgb&dl=avocado-cherry-tomatoes-chopping-board-1166419.jpg&fm=jpg
Icon=image-jpeg
